* {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
}

.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    width: 320px;
}

.qr-code img {
    margin-top: 10px;
    width: 288px;
    border-radius: 20px;
}

section p {
    color: hsl(220, 15%, 55%);
}

main {
    width: 288px;
}

h1 {
    padding: 30px 0 30px;
    font-size: 20px;
}

p {
    padding: 0 0px 30px;
    font-size: 15px;
}

footer {
    margin-top: 10px;
}